{% extends 'main.html' %}
{% block content %}
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
{% endif %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> 
  </head>
  <body class="text-center" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div>
      <p>
        <a href="/kidney" class="btn btn-success my-2">Get Started</a>
      </p>
    </div>
    
  </body>
</html>
{% endblock %}
