{% extends 'main.html' %}
{% block content %}

<div class="container my-5">
    <div class="text-center mb-4">
        <h1>Kidney Disease Predictor</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="{{ url_for('predictPage') }}" method="POST">
                <div class="row mb-3">
                    {% for field in ['age', 'bp', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu', 'sc', 'pot', 'wc', 'htn', 'dm', 'cad', 'pe', 'ane'] %}
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" type="text" name="{{ field }}" placeholder="{{ field }}" style="border: 1px solid black;">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-info btn-block" value="Predict">
                </div>
            </form>
        </div>
    </div>
    
    <div class="text-center my-4">
        <h1>Sample Inputs in the Data Set</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Age</th>
                <th scope="col">BP</th>
                <th scope="col">AL</th>
                <th scope="col">SU</th>
                <th scope="col">RBC</th>
                <th scope="col">PC</th>
                <th scope="col">PCC</th>
                <th scope="col">BA</th>
                <th scope="col">BGR</th>
                <th scope="col">BU</th>
                <th scope="col">SC</th>
                <th scope="col">POT</th>
                <th scope="col">WC</th>
                <th scope="col">HTN</th>
                <th scope="col">DM</th>
                <th scope="col">CAD</th>
                <th scope="col">PE</th>
                <th scope="col">ANE</th>
                <th scope="col">Disease</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>24</td>
                <td>100</td>
                <td>2</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>136</td>
                <td>60</td>
                <td>1.9</td>
                <td>3.7</td>
                <td>9600</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>Present</td>
            </tr>
            <tr>
                <td>68</td>
                <td>80</td>
                <td>3</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>157</td>
                <td>162</td>
                <td>9.6</td>
                <td>4.9</td>
                <td>11000</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>Present</td>
            </tr>
            <tr>
                <td>51</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>121</td>
                <td>27</td>
                <td>0.8</td>
                <td>3.7</td>
                <td>8300</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>Healthy</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
